.nav-bar-container {
  background-color: #F4E3C1 !important; /* Light sandal brown background */
}

.nav-text {
  color: #B2996E !important; /* Medium light brown for text */
  font-weight: bold !important;
}

.nav-text:hover {
  color: #8B5E3C !important; /* Rich brown on hover */
}

.navbar-toggle:hover {
  color: #8B5E3C !important; /* Rich brown for toggle button hover */
}

@media screen and (max-width: 768px) {
  .nav-bar-container {
    margin-bottom: -80px !important;
  }
}
