.testimonials {
    background-color: #f5e1c8; /* Light sandal color for background */
}

.test-video {
    color: #5b4636; /* Dark sandal brown for readability */
    font-weight: bold;
    font-family: Helvetica;
}

#testimonials {
    margin-bottom: 125px;
}

.testimonialsTitle {
    position: relative;
    color: #5b4636; /* Dark sandal brown for text */
    margin-top: -50px;
    font-size: 4rem; 
    text-align: center;
    font-weight: 450;
}

@media only screen and (min-width: 600px) {

    .testimonialsTitle {
        font-size: 5rem;
    }
}

@media screen and (max-width: 500px) {

    .testimonialsTitle {
        font-size: 3rem !important;
    }
}
